@using Web.Areas.Admin.Controllers
<div id="footer">
    <div class="top">
        <div class="wrp">
            <ul class="left">
                <li><a href="#" title="">THỜI SỰ</a></li>
                <li><a href="#" title="">NHỊP CẦU TUYÊN GIÁO</a></li>
                <li><a href="#" title="">TUYÊN TRUYỀN</a></li>
                <li><a href="#" title="">VĂN HÓA NGHỆ THUẬT </a></li>
                <li><a href="#" title="">XÃ HỘI - KINH TẾ </a></li>
                <li><a href="#" title="">THEO GƯƠNG BÁC</a></li>
                <li><a href="#" title="">KHOA HỌC </a></li>
                <li><a href="#" title="">THỰC TIỄN - KINH NGHIỆM </a></li>
                <li><a href="#" title="">CHUYÊN MỤC KHÁC</a></li>
                <li><a href="#" title="">Đưa nghị quyết của Đảng vào cuộc sống  </a></li>
                <li><a href="#" title="">Bảo vệ nền tảng tư tưởng của Đảng </a></li>
                <li><a href="#" title="">Biển và Hải đảo Việt Nam</a></li>
            </ul>
            <div class="cb"></div>
        </div>
    </div>
    <div class="bot">
        <div class="wrp">
            <div class="left fs13 lh21">
                <a href="" class="logo">
                    <img data-src="~/assets/display/Css/Icon/logobot.png" />
                </a>
                <div class="info">
                    <p>© Copyright 2017 TUYENGIAO.VN, All rights reserved </p>
                    <p class="fRobotoB">Tạp chí của Ban Tuyên giáo Trung ương</p>
                    <p>Địa chỉ: 49 Phan Đình Phùng, Ba Đình, Hà Nội</p>
                    <p>Điện thoại: 84-08044511 - Fax:84-04-37330967 - Email: toasoan@tuyengiao.vn</p>
                    <p>Giấy phép số 286/GP-BC của Bộ Thông tin và Truyền thông</p>
                </div>
            </div>
            <div class="right fs13 tar lh21">
                <div class="plug fr">
                    <p class="ttu c3a5998 pb5 tac fRobotoB">@ConfigTextController.GetValueCFT("KetNoiVoiChungToi")</p>
                    <a href="#" title="">
                        <img src="~/assets/display/Css/Icon/icon-facebook.png" />
                    </a>
                    <a href="#" title="">
                        <img src="~/assets/display/Css/Icon/icon-tw.png" />
                    </a>
                    <a href="#" title="">
                        <img src="~/assets/display/Css/Icon/icon-google.png" />
                    </a>
                </div>
                <div class="cb"></div>
                <p class="fRobotoB">Tổng Biên tập : Ths. Lê Huy Nam. </p>
                <p>Phó Tổng Biên tập: TS. Nguyễn Thành Vinh; Ths. Nguyễn Thị Minh Huế; TS. Văn Thị Thanh Mai. </p>
                <p>Trưởng phòng trị sự: Bùi Văn Hùng </p>
                <p>Thư ký Tòa soạn: Ths. Bùi Thị Thu Thanh </p>
            </div>
            <div class="cb"></div>
        </div>
    </div>
</div>