
@using Web.Model
@model List<Web.Model.tbl_Chat>
@{
    Layout = null;  
} 
@if (Model.Count > 0)
{
    <ul class="list-group contacts-list" id="listgroupacount">
        @foreach (var item in Model)
        { 
            string img = "/Content/Admin/images/staff.png"; 
            <li class="list-group-item" style="cursor: pointer;">
                <a href="#"  onclick="">
                    <div class="avatar"> 
                        <img src="@img" class="img-circle thumb-md" alt="">
                        @*@if (objchat != null && objchat.IdLast != null && objchat.IdLast != currentid.ID)
                        {
                            <span id="countchat_@currentid.ID@item.ID" class="countchat">@objchat.Count</span> 
                        }*@
                    </div>
                    <span class="name">@item.Name</span> 
                </a>
                <span class="clearfix"></span>
            </li>
        }
    </ul>
 } 