@{
    ViewBag.Title = "Danh sách tạp chí";
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
    var dothtml = ".html"; 
}
@using Web.Core;
@using Web.Model 



    <div id="magazine">
        <div id="gridData">

        </div>  
        <div class="col-md-12" id="paginationholder">
            <ul id="pagination" class="pagination"></ul>
        </div> 
    </div> 

 
<script type="text/javascript">
    $(document).ready(function () {
        var year = $('#chooseyearmagazine').val();
        var title = $('#choosetitlemagazine').val();
        loadmore(1, year, title);
        $('#chooseyearmagazine').change(function () {
            debugger;
            year = $('#chooseyearmagazine').val();
            title = $('#choosetitlemagazine').val();
            loadmore(1, year, title);
        });
        $('#choosetitlemagazine').change(function () {
            debugger;
            year = $('#chooseyearmagazine').val();
            title = $('#choosetitlemagazine').val();
            loadmore(1, year, title);
        });
    });
    function loadmore(page,year,title) {
        $("#loading").show(); 
        AjaxService.POST("/Magazine/ListData", { page: page, year: year, title: title }, function (res) { 
            $("#gridData").html(res.viewContent);
            CropImage();
            if (res.totalPages > 1) {
                $('#paginationholder').html('<ul id="pagination" class="pagination-sm"></ul>');
                $('#pagination').twbsPagination({
                    startPage: self.pageIndex,
                    totalPages: res.totalPages,
                    visiblePages: 5,
                    onPageClick: function (event, page) {
                        self.pageIndex = page;
                        loadmore(self.pageIndex);
                    }
                });
            }
            $("#loading").hide();
        });
    }
</script>