@using Web
@using Web.Model
@{
    Layout = null;
    var lstLanguages = (List<tbl_Languages>)TempData["lstLanguages"];
    var langCodeHome = (string)Session["langCodeHome"];

}
<script src="~/AppJs/languages.js"></script>
@foreach (var item in lstLanguages)
{
        <a style="cursor:pointer;" href="" onclick='languages.changeLangugesHome("@item.Code")' title="@item.Name">
            <img height="32" src="@item.Icon" class="@(langCodeHome != null &&
        langCodeHome == item.Code ? "active" : "")" />
        </a>
}
<style>.filter .active { border: 1px solid black; }</style>
