@using System.Diagnostics.Eventing.Reader
@using Web.Areas.Admin.Controllers;
@{ 
    var Module = Request.RequestContext.RouteData.Values["controller"].ToString();
    var Action = Request.RequestContext.RouteData.Values["action"].ToString();
}
<!DOCTYPE html>
<html>
<head>
    @{ Html.RenderAction("HomeHeader", "Home"); }
</head>
<body id="pagebody">
    @{ Html.RenderAction("HomeBanner", "Home"); }
    <div id="container">
        <div class="wrp">
            @{ Html.RenderAction("AdvHome5", "AdvHome"); }
            @{ Html.RenderAction("AdvHome6", "AdvHome"); }
            @RenderBody()
        </div>
        @*@if (Module.ToLower() == "home" && Action.ToLower() == "index")
        {
            <div id="truyenhinh" class="dn dbtablet-l">
                @{ Html.RenderAction("Right", "Video"); }
            </div>
        }*@
        <div class="cb"></div>
    </div>
    @{ Html.RenderAction("HomeFooter", "Home"); }
    <div id="overlay"></div>
</body>
</html>
