<script src="/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/_references.js"></script>
@using Web.Model
@model Web.Model.advert_category
@{
    var lstChildAdvert = (List<advert_category>)TempData["lstChildAdvert"];

    var getItemCategory = (document_category)TempData["getItemCategory"];
}

<select id="advert_2" name="advert_2" class="form-control select2">
@if (lstChildAdvert.Count() != 0)
{
    <option value="">-Chọn nhóm-</option>
    lstChildAdvert.ForEach(g => g.Name = string.Concat(Enumerable.Repeat("--", g.Level)) + g.Name);
    foreach (var item in lstChildAdvert)
    {
    <option value="@item.ID" @(getItemCategory != null && getItemCategory.advert_2 == item.ID.ToString() ? "selected" : "")>@item.Name</option>
    }
}
else
{
    <option value="">-Chọn nhóm-</option>
}
</select>
