<script src="/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/_references.js"></script>
@using Web.Model
@using Web.Core
@model document_category
@{
    var code = (String)TempData["code"];
    var lstChild = (List<document_category>)TempData["lstChildContact"];
    
    var getItemCategory = (document_category)TempData["getItemCategory"];
}
<select id="display_2" name="display_2" class="form-control select2">
@if (lstChild.Count() != 0)
{
    <option value="">-Chọn nhóm-</option>
    lstChild.ForEach(g => g.Name = string.Concat(Enumerable.Repeat("--", g.Level)) + g.Name);
    foreach (var item in lstChild)
    {
        <option value="@item.ID" @(getItemCategory != null && getItemCategory.display_2 == item.ID.ToString() ? "selected" : "")>@item.Name</option>
    }

}
else
{
    <option value=""> -Chọn nhóm -</option>
}
</select>