body {
    min-width: 980px; color: #000; font-size: 17px; margin: 0; padding: 0; font-family: 'Noto Serif', serif; line-height: 30px
}
.khungAnh{position:relative;z-index:1}
.khungAnh:before{content:"";display:block}
.khungAnhCrop,
.khungAnhCrop0{display:inline-block;height:100%;left:0;overflow:hidden;position:absolute;text-align:center;top:0;width:100%; z-index: 1} 
.khungAnhCrop0 img{left:50%;max-height:100%;max-width:100%;position:absolute;top:50%;transform:translate(-50%,-50%);z-index:1}
.khungAnhCrop0 img{-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)} 
.khungAnhCrop img{left:50%;max-height:150%;max-width:150%;position:absolute;top:50%;transform:translate(-50%,-50%);z-index:1}
.khungAnhCrop img{-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)} 
.khungAnhCrop img.wide{height:100%;max-width:none} 
.khungAnhCrop img.tall{max-height:none;width:100%} 
.wrp { width: 980px; margin: auto} 
.wrp-content { width: 660px; margin: auto}
.wrp img, .wrp-content img { max-width: 100%; height: auto!important}

#emagazine .commontop { background: #006ca0; padding: 10px 0 5px 0; position: fixed; top: 0; width: 100%; z-index: 100; left: 0}
#emagazine .commontop .mid { position: absolute; left: 50%; transform: translateX(-50%); -moz-transform: translateX(-50%)}
#emagazine .commontop .left {float: left}
#emagazine .commontop .right { float: right; margin-right: 10px; margin-top: 3px}
#emagazine .bannerHead img,#emagazine .bannerFoot img{ max-width: 100%; height: auto;}
#emagazine .commontop .back { width: 60px; height: 44px; display: inline-block; background: url(Icon/back_eMagazine.png) center no-repeat, #c00; background-size: 60%; position: absolute; height: 100%; left: 0; top: 0}
#emagazine .commontop .logo {margin-left: 70px}

#emagazine .main {padding: 50px 0}
#emagazine .sapo {font-size: 17px; font-style: italic; text-align: justify; margin-bottom: 20px; padding-bottom: 20px; position: relative}
#emagazine .sapo:after { content: "---"; width: 100%; display: block; text-align: center; letter-spacing: 2px; position: absolute; bottom: 0}

#emagazine .content {text-align: justify}
#emagazine p {margin-bottom: 20px}
#emagazine .title img { max-width: 100%; height: auto; margin: auto; margin-top: 30px; margin-bottom: 20px; display: block}

#emagazine .wrp_img { margin-top: 30px; margin-bottom: 20px}
#emagazine .wrp_img .khungAnh:before { padding-bottom: 66.72%}
#emagazine .wrp_img .khungAnh { float: left; margin-right: 2px; margin-bottom: 2px}
#emagazine .wrp_img .khungAnh:nth-child(2n) {margin-right: 0}

#emagazine .wrp_img img { box-sizing: border-box; border: 1px solid #fff}

#emagazine .img_left {  width: 350px; margin: 10px 40px 20px -140px; float: left}
#emagazine .img_right {  width: 350px; margin: 10px -140px 20px 40px; float: right}

#emagazine .info { margin-top: 30px; padding-bottom: 100px }
#emagazine .info ul { padding: 0; margin: 0; list-style: none; font-weight: 500;padding-left: 20px; border-left: solid 5px #006ca0}
#emagazine .info ul li { line-height: 27px; margin-bottom: 3px; font-family: RobotoB}

@media (max-width:1023px){
    body { font-size: 14px; line-height: 21px}
}

@media (max-width:991px){ 
    
}

@media (max-width:767px){ 
     
}

@media (max-width:479px){ 
    
} 