
<script src="/Content/Admin/assets/select2/select2.min.js"></script>
<script src="/Scripts/jquery.validate.min.js"></script>
@using Web
@using Web.Model
@model tbl_Chat
@{
    Layout = null;
    var lstUser = (List<tbl_UserAdmin>) TempData["lstUser"];
}
@using (Ajax.BeginForm("AddGroupChat", "Home", null,
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "chat.onAddSuccess"
    },
    new { @id = "frmpost", @class = "form-horizontal" }))
{ 
    <div class="form-group">
        <label class="col-md-2 control-label">Tên nhóm</label>
        <div class="col-md-8">
            @Html.TextBoxFor(g => g.Name, new { @class = "form-control", placeholder = "Tên nhóm" })
        </div>
    </div>  
    <div class="form-group">
        <label class="col-md-2 control-label">Thành viên</label>
        <div class="col-md-8">
            @Html.DropDownListFor(g => g.ListIdUser, new SelectList(lstUser, "ID", "FullName"), new { @class = "form-control select2", @multiple = "multiple" })
        </div>
    </div>     
    <div class="col-md-8 pull-right pl0">
        <button type="submit" class="btn btn-primary waves-effect waves-light">Thêm mới</button>
    </div>
}
<script>
    // Basic Form
    $(document).ready(function () { 
        $(".select2").select2({
            "width": "100%"
        }); 
        $("#frmpost").validate({
            rules:
            {
                Name:
               {
                   required: true
               }
            },
            messages:
            {
                Name:
               {
                   required: "Yêu cầu nhập tên hóm"
               }
            },
            highlight: function (element) {
                jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            success: function (element) {
                jQuery(element).closest('.form-group').removeClass('has-error');
            }
        }); 
    }); 
</script>